@import "../../app/styles/variables.scss";

.teacher-card {
  display: flex;
  flex-direction: column;
  background-color: var(--card-background-color);
  color: #ECECEC;
  padding: 16px 20px;
  height: 420px;
  border-radius: 15px;
  overflow: auto;
  transition-duration: var(--transition-duration);

  &:hover {
    background-color: var(--card-background-hover-color);
  }

  &__title {}

  &__item {
    margin-left: 5px;
  }

  section {
    display: flex;
    padding: 4px;
  }
}


