@import "./variables.scss";

body {
  background-color: var(--weak-black);
  color-scheme: dark light;
}

.app {
  display: grid;
  grid-template: 54px 1fr / 1fr;
  grid-template-areas:
    "header"
    "main";
  width: 100%;
  min-height: 100vh;
  font-family: "PT Sans", sans-serif;
}
