@import "variables.scss";

body,
html,
#root,
.app {
    height: 100%;
    width: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a:focus,
a:active,
:focus,
:active {outline: none}

html,
body {
    font-size: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {font-family: inherit}

input::-ms-clear {display: none}
button {cursor: pointer}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    color: #eff5f4;
    text-decoration: none;
}
a:hover {text-decoration: none}

ul li {list-style: none}

img {
    vertical-align: top;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {font-weight: 400;}

h1 {font-size: 1.6rem}
h2 {
    font-size: 1.4rem;
    margin-bottom: 10px;
}
h3 {
    font-size: 1.2rem;
    margin-bottom: 5px;
}
h4 {font-size: 1rem}
h5 {font-size: 0.8rem}
h6 {font-size: 0.7rem}

html {
    line-height: var(--line-height);
    font-family: var(--font-family);
    font-size: var(--font-size);
    color: var(--font-color);
    color-scheme: var(--color-scheme);
    transition-duration: var(--default-transition-duration);
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: var(--color-light-black);
}
