

:root {
  // Colors
  --color-dark-black: rgb(23, 23, 23);
  --color-normal-black: rgba(40, 40, 40);
  --color-light-black: rgb(65, 65, 65);
  --color-hover-dark-black: rgb(33, 33, 33);
  --color-hover-normal-black: rgba(36, 36, 36);
  --color-weak-white: #FAFAFA;
  --color-weak-pink: #e40070;

  // Defaults
  --content-max-width: 1150px;
  --content-padding: 15px;

  --line-height: 1.5;
  --font-family: "PT Sans", sans-serif;
  --font-color: #ECECEC;;
  --font-size: 1rm;
  --transition-duration: .25s;

  --card-background-color: var(--color-normal-black);
  --card-background-hover-color: var(--color-hover-normal-black);

  --color-scheme: dark light;
}